
gcd_01/
sewfactory/
sewfactory__01/
*.zip
*.tar.gz

# Ignore SAMPLE_DATA directory but include GCD__GOOD subdirectory
SAMPLE_DATA/*
!SAMPLE_DATA/GCD__GOOD/
!SAMPLE_DATA/SEWFACTORY__GOOD/
!SAMPLE_DATA/0814/